.main-nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  background-color: #13a4a4;
}

.main-nav__item {
  background-color: yellowgreen;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  width: 90px;
}

/* Compound Selector */
.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
  background-color: red;
}

.main-nav__item a:hover {
  color: blue;
}

.main-nav__item a:active {
  color: darkseagreen;
}

.main-nav__item a::after {
  content: " | ";
}
